@mixin background-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}

@import "./styles/variables";
@import "@/components/Button";
@import "@/components/Login/LoginForm";
@import "@/components/Login/LoginWrapper";
@import "@/components/Dashboard/DashboardDrawer";
@import "@/components/SearchBox";
@import "@/components/Users/UserPagination/PaginationBtn";
@import "@/components/StatusChip";
@import "@/components/Card";
@import "@/components/CardContainer";
@import "@/components/UserDetails";
@import "@/components/UserDetails/UserDetailsCard";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: url("/fonts/avenir-next-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Medium";
  font-weight: 500;
  src: url("/fonts/avenir-next-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Bold";
  font-weight: 700;
  src: url("/fonts/avenir-next-bold.ttf") format("truetype");
}

// Utility classes
.bordered {
  border: 1px solid #000;
}

@for $weight from 100 through 700 {
  .font-weight-#{ $weight } {
    font-weight: $weight !important;
  }
}

@for $size from 10 through 50 {
  .font-size-#{ $size } {
    font-size: calc($size/16) + rem !important;
  }
}

@for $unit from 1 through 50 {
  .m-#{$unit} {
    margin: calc($unit/16) + rem !important;
  }

  .mb-#{$unit} {
    margin-bottom: calc($unit/16) + rem !important;
  }

  .mt-#{$unit} {
    margin-top: calc($unit/16) + rem !important;
  }

  .mx-#{$unit} {
    margin-left: calc($unit/16) + rem !important;
    margin-right: calc($unit/16) + rem !important;
  }

  .my-#{$unit} {
    margin-top: calc($unit/16) + rem !important;
    margin-bottom: calc($unit/16) + rem !important;
  }

  .p-#{$unit} {
    padding: calc($unit/16) + rem !important;
  }

  .pb-#{$unit} {
    padding-bottom: calc($unit/16) + rem !important;
  }

  .pt-#{$unit} {
    padding-top: calc($unit/16) + rem !important;
  }

  .px-#{$unit} {
    padding-left: calc($unit/16) + rem !important;
    padding-right: calc($unit/16) + rem !important;
  }

  .py-#{$unit} {
    padding-top: calc($unit/16) + rem !important;
    padding-bottom: calc($unit/16) + rem !important;
  }
}

.uppercase {
  text-transform: uppercase;
}

.box-shadow {
  box-shadow: $drop-shadow !important;
}

.text-brand {
  color: $brand-color !important;
}

.text-primary {
  color: $primary-color !important;
}

.bg-white {
  color: $white !important;
}
